* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alice", serif;
}

body {
  scroll-behavior: smooth;
}
.logo a {
  color: rgb(255, 164, 131);
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}
.logo a:hover {
  color: #000000;
  transition: 0.5s ease;
}

header {
  background: #076585;
  background: -webkit-linear-gradient(to right, #fff, #076585);
  background: linear-gradient(to right, #fff, #076585);
  padding: 20px;
  color: #fff;
  position: sticky;
  width: 100%;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-left: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s ease;
}

nav ul li a:hover {
  color: #000000;
}

#hero {
  background: #076585;
  background: -webkit-linear-gradient(to right, #fff, #076585);
  background: linear-gradient(to right, #fff, #076585);
  background-image: url(./img/main-1.jpg);
  background-size: cover;
  height: 105vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.card {
  display: flex;
  align-items: center;
}
.img {
  display: flex;
  width: 300px;
  padding: 5px;
}
.btn {
  display: flex;
  align-items: center;
}

#contact {
  background-color: #fff;
}

#contact h2 {
  margin-bottom: 20px;
}

#contactForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

#contactForm label {
  font-weight: bold;
}

#contactForm textarea {
  resize: none;
}

#contactForm button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#contactForm button[type="submit"]:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
